<nav class="navbar navbar-light bg-white shadow-sm px-4 py-2">
  <div class="ms-auto d-flex gap-3 align-items-center">
    <!-- <a href="#" class="text-decoration-none text-dark">Home</a>
    <a href="#contact" class="text-decoration-none text-dark">Contact</a> -->
    <a href="#notes" class="text-decoration-none text-dark">Enrollments</a>
    <span class="fw-semibold text-secondary" id="navbarUserName"></span>
    <span class="fw-semibold text-secondary" id="navbarRole"></span>
    <button class="btn btn-danger btn-sm" id="logoutBtn">Logout</button>
  </div>
</nav>
